:root {
    /* colors pallete */
    --navbar: #f5f5f5;
    --nav-link: #666666;
    --nav-btn:  #666666;
    --surface: #ffffff;


    /* font size */



    /* other */


}



/*** 2. RESET ***/
* {
    /* removes spaces that are already present on a newly opened web page */
    margin:     0;
    padding:    0;

    /* returns the actual content size, including padding, border, margin and etc */
    box-sizing: border-box;
}

/* removes the dot that comes with the list item by default */
li, summary { list-style-type: none; }

/* the images on the site is always wide as the parent-element */
img { max-width: 100%; object-fit: cover; }

/* removes the underline, which is the default. */
a { text-decoration: none; }



/*** 3. ELEMENT ***/
/* knowledge from the class */ /*
html {
    font-size: 62.5%; 1rem = 10px
} 
*/


body {
        /* standard font pack for the whole project */
        font-family:        "Poppins", sans-serif;
        font-size:          1rem;
        font-weight:        300;
        line-height:        1;
        background-color:   var(--surface);

}



/*** 4. SHARED BLOCK ***/
/* header */
header {

    nav[aria-label="main menu"] {
        display: flex;
        justify-content: space-between;
        max-width: 64rem;
            background-color: var(--navbar);
            margin: 0 auto;

    }


/*** nav brand ***/
    .nav-brand-box {
        max-width: 2rem; max-height: 2rem;
    }

/*** nav links **/
    .nav-links {
        display: flex;
        column-gap: 2rem;
    }

    
    .nav-link-list {
        display: flex;
        column-gap: 2rem;
    }

    .nav-link-list li {
        display: flex;
        align-items: center;
    }


    .nav-social-list {
        display: flex;
        column-gap: 1rem;
    }

    .nav-social-list li {
        display: flex;
        align-items: center;
        max-width: 2rem; max-height: 2rem;
    }


/*** nav action ***/
    .nav-action {
        display: flex;
        column-gap: 1rem;
    }





    #mainMenu {
        display: none;
    }

}



/*** 5. FEATURING ***/
/* link */
.nav-link-list li a {
        font-weight: 400;
        color: var(--nav-link);
}

/* button */
.nav-action button {
    padding: .25rem;
    border: none;
    border-radius: 50%;
    max-width: 2rem; max-height: 2rem;
        background-color: var(--nav-btn);
        cursor: pointer;
}



/*** 6. RESPONSIVE ***/
/* laptop */
@media only screen and (max-width: 64rem) {

}


/* tablet */
@media only screen and (max-width: 48rem) {

}


/* mobile */
@media only screen and (max-width: 26.5625rem) {

}